@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Carter+One');


.masthead img{
  width:100%
}
	
.navbar-custom {
  background-color: #800080;
  border-color: #228B22;
}

.navbar-nav > li >a{
  color:#00FF00;
  font-size:18px;
}


.text_p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 30px;
}

.space {
  margin:0; 
  padding:0; 
  height:100px; 
}

.space1 {
  margin:0;
  padding:0; 
  height:50px; 
}

.space2 {
  margin:0;
  padding:0; 
  height:20px; 
}

.zoom-menu {
  padding: 0px;
  background-color: none;
  transition: transform .2s;
  height: 30px;
  margin: 0 auto;
}

.zoom {
  padding: 0px;
  background-color: none;
  transition: transform .2s;
  width: 150px;
  height: 30px;
  margin: 0 auto;
}

.zoom:hover, .zoom-menu:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.logo_size {
  font-size: 14px;
  font-family:"Times New Roman";
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin-bottom:60px;   /* Height of the footer */
}

h3,h1 {
  font-family: "Baloo", sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  color: black;
  text-align: center;
  background-color: #f5f5f5;
}

.footer_new{
	font-size:9px;
	font-family:"Courier new";
	font-colour:white;
}

.div-vid {
    display: block;
    margin: 0 auto;
}


.name {
    font-family: 'Homemade Apple', cursive;
    font-size: 24px;
}

