.masthead img{
  width:100%
}
	
.navbar-custom {
  background-color: #800080;
  border-color: #228B22;
}

.navbar-nav > li >a{
  color:#00FF00;
  font-size:18px;
}

.new_p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:#ADFF2F;
}

.text_p {
  font-family:"Georgia"
}

.space {
  margin:0; 
  padding:0; 
  height:100px; 
}

.space1 {
  margin:0;
  padding:0; 
  height:50px; 
}

.space2 {
  margin:0;
  padding:0; 
  height:20px; 
}

.zoom {
  padding: 10px;
  background-color: none;
  transition: transform .2s;
  width: 120px;
  height: 30px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.logo_size {
  font-size: 14px;
  font-family:"Times New Roman";
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.footer {
	position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	height:100px;
    background-color: black;
    color: white;
    text-align: center;
}

.footer_new{
	font-size:9px;
	font-family:"Courier new";
	font-colour:white;
}